@tailwind base;
@tailwind components;
@tailwind utilities;

.page-content {
  transform-style: preserve-3d;
  animation: turn-in 0.6s ease-out;
  perspective: 1000px;
}

.turn-forward {
  animation: turn-forward 0.6s ease-in;
  transform-origin: left;
}

.turn-backward {
  animation: turn-backward 0.6s ease-in;
  transform-origin: right;
}

@keyframes turn-forward {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(-180deg);
  }
}

@keyframes turn-backward {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(180deg);
  }
}

@keyframes turn-in {
  0% {
    transform: rotateY(180deg);
    opacity: 0;
  }
  100% {
    transform: rotateY(0deg);
    opacity: 1;
  }
}